/* Add a custom gradient background */
body {


}

.bg-gradient {
    background: linear-gradient(296.82deg, #3B82F6 0%, #A855F7 100%);
}

.bg-header-project-list {
    background: linear-gradient(90deg, #F472B6 0%, #FB923C 100%);
    /* border-radius: 16px 16px 0px 0px; */
}

button:hover {
    cursor: pointer;
    opacity: 0.7;

}

/* установим отступ 1rem от нижнего края элемента */
.text-field {
    /* margin-bottom: 1rem; */
}

/* стили для label */
.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

/* стили для input */
.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

.text-field__icon {
    position: relative;
}

.text-field__icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
}

.text-field__icon .text-field__input {
    padding-left: 2.3rem;
}

/* email значок */
/* .text-field__icon_email::before {
    content: '@';
} */
.text-field__icon_login::before {
    content: '@';
}

/* иконка крестик */
.text-field__icon_email::before {
    width: 1.4rem;
    /* background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_167_294)"><path d="M16 32C15.45 32 14.9792 31.8042 14.5875 31.4125C14.1958 31.0208 14 30.55 14 30V18C14 17.45 14.1958 16.9792 14.5875 16.5875C14.9792 16.1958 15.45 16 16 16H32C32.55 16 33.0208 16.1958 33.4125 16.5875C33.8042 16.9792 34 17.45 34 18V30C34 30.55 33.8042 31.0208 33.4125 31.4125C33.0208 31.8042 32.55 32 32 32H16ZM24 25L16 20V30H32V20L24 25ZM24 23L32 18H16L24 23ZM16 20V18V30V20Z" fill="%2349454F"/></g><defs><clipPath id="clip0_167_294"><rect x="4" y="4" width="40" height="40" rx="20" fill="white"/></clipPath></defs></svg>');
*/
    background-image: url('/userprofile/email.svg');

    background-repeat: no-repeat;
    background-position: center;
}

ul li {
    padding: 10px 5px;
    border-bottom: #cac4d0 1px solid;

}

ul li:hover {
    background-color: #ece5ed;
}

.icon-button {
    display: inline-block;
    position: relative;
    bottom: 2px;
}